body {
    margin: 0;
}

.container {
    border: 1px solid black;
    margin: 10px;
    box-sizing: border-box;
    height: calc(100vh - 22px);
}

.box {
    animation: main-rotate 15s infinite linear;
    position: relative;
    top: 200px;
    height: 100px;
    width: 100px;
    margin: auto;
    transform-style: preserve-3d;
}

.child {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
    transform-style: preserve-3d;
    text-align: center;
}

.front {
    background-color: red;
    animation: front 15s infinite linear;
    transform: translateZ(50px);
}

.front:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    transform: translateZ(-1px);
}

.back {
    background-color: blue;
    transform: translateZ(-50px) rotateY(180deg);
    animation: back 15s infinite linear;
}

.back:before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: blue;
    top: 0;
    left: 0;
    transform: translateZ(-1px);
}

@keyframes main-rotate {
    100% {
        transform: rotateY(360deg)
    }
}

@keyframes front {
    0% {
        transform: rotateZ(0deg) translateZ(30px);

    }
    100% {
        transform: rotateZ(360deg) translateZ(30px);
    }
}

@keyframes back {
    0% {
        transform: rotateZ(0deg) translateZ(-30px) rotateY(180deg);
    }
    100% {
        transform: rotateZ(-360deg) translateZ(-30px) rotateY(180deg);
    }
}